---
# Global settings
replicaCount: 1

sdepostgresql:
  enabled: true
  fullnameOverride: "product-sde-postgres"
  auth:
    postgresPassword: ""
    username: "sdeuser"
    password: "password"
    database: "sdedb"
    port: 5432
    existingSecret: ""

backend:
  image:
    repository: tractusx/managed-simple-data-exchanger-backend
    pullPolicy: Always
    tag: "IfNotPresent"

  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""
  portContainer: 8080

  podAnnotations: {}
  podSecurityContext: {}

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    runAsNonRoot: true
    runAsUser: 1001

  service:
    type: ClusterIP
    port: 8080
    targetPort: 8080

  ingress:
    enabled: false  # Set to true if backend ingress is required

  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80

  resources:
    limits:
      cpu: 600m
      memory: 2Gi
    requests:
      cpu: 600m
      memory: 2Gi

  nodeSelector: {}
  tolerations: []
  affinity: {}

frontend:
  image:
    repository: tractusx/managed-simple-data-exchanger-frontend
    pullPolicy: Always
    tag: "latest"

  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""
  portContainer: 8080

  podAnnotations: {}
  podSecurityContext: {}

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    runAsNonRoot: true
    runAsUser: 101

  service:
    type: ClusterIP
    port: 80
    targetPort: 8080

  ingress:
    enabled: true
    className: "nginx"
    annotations:
      kubernetes.io/ingress.class: addon-http-application-routing
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hostname: "sde-frontend.7b9747845fca418d84c2.germanywestcentral.aksapp.io"
    tls:
      enabled: true
      secretName: "sde-frontend.tx.test-tls"

  autoscaling:
    enabled: false

  resources:
    limits:
      cpu: 600m
      memory: 2Gi
    requests:
      cpu: 600m
      memory: 2Gi

  nodeSelector: {}
  tolerations: []
  affinity: {}

serviceAccount:
  create: true
  annotations: {}

  backend:
  extraVolumes:
    - name: config-volume
      configMap:
        name: sdebackend-backend-configmap
  extraVolumeMounts:
    - name: config-volume
      mountPath: /app/configuration.properties
      subPath: configuration.properties
